*{
    margin: 0rem 0rem 0rem 0rem;
    padding:0rem 0rem 0rem 0rem;
}
.logo{
    display: flex;
    width: 20%;
    border: solid black 2px;
    padding: 3px 13px;
}
.logo a{
    font-size: 36px;
    font-weight: 800;
       
}

.navbar{
display: flex;
background-color: black;
align-items: center;
position: sticky;
top: 0;
cursor: pointer;

}
.navlist{
    display: flex;
    width: 70%;
    align-items: center;
    
}
.navlist li{
    list-style: none;
    padding: 10px;

}

.navlist li a{
    text-decoration: none;
    color: white;
    transition: all 0.7s;


}
.navlist li a:hover{
    font-size: 1.3em;
    color: blueviolet;
    border: solid black 1px;

}

.rightnav {
    
    width: 30%;
    text-align: right;
    padding: 0;
}
.burger{
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    display: none;


}
.line{
    width: 30px;
    background-color: white;
    height: 4px;
    margin: 6px;


}

.background{

    background: rgba(0, 0, 0, 0.6)url(../Images/GYMBG.jfif);
    background-blend-mode: darken;
    background-size: cover;

}
.firstsection{

    height:100vh;
}

.mainbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
h6{
    font-size: 1.5em;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 1rem 0rem 0rem 0rem;
    margin: 1rem 0rem;
    text-align: center;


}
h2{
    font-size: 3em;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 1rem 0rem 0rem 0rem;
    margin: 1rem 0rem;
    text-align: center;

}
.buttons{
    padding: 1rem 0rem 0rem 8rem;
    margin: 1rem 0rem;
}
.secondhalf{
   
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 0px;
}

.container{
    word-wrap: break-word;
    box-sizing: border-box;
    justify-content: center;
    border: solid black 2px;
    background-color: #0c1228;
    width: 250px;
    height: 114px;
    margin: 0rem 2rem 0rem 2rem;
    padding:1rem 0rem 0rem 0rem;
    overflow: hidden;
}



.faculty{
    background: rgba(0,0,0,0.85);
}
.section{
    display: flex;
    height: 350px;
    justify-content: space-evenly;
    align-items: center;
    max-width: 80%;
    margin: auto;
}
.left{
    flex-direction: row-reverse;
}

.paragraph {
    padding: 0px 20px;
    margin: 0;
}

.bgtext{
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    color: #ffdd00;
    font-weight: 850;
    padding: 10px 0px;
}
.smtext{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    color: white;
    
}
.section {
    padding: 0px 0px;
    margin: 0px auto;
}



.thumbnail img {
    width: 185px;
    border: solid;
    border-radius: 20px;
}

h3{
    font-size: 3em;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffd400;
    text-align: center;
    padding: 40px 0 0 0px;
}
.contact{
    background: rgba(0,0,0,0.85);
    
    
}
.form{
    max-width: 40%;
    margin: auto;
}
.form-input{
    width: 100%;
    margin: 12px 0;
    padding: 5px 0;
    border: black solid 3px;
    border-radius: 7px;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    
}
.textfooter{
    font-size: 21px;
    color: #fff;
    background-color: black;
    padding: 13px;
    text-align: center;

}
.edit{
    color: white;
    font-size: 20px;
    font-weight: 100px;
    text-align: center;
}
/*3rdpage*/

.ourplan{
    background: rgba(0,0,0,0.85);
    
    
    }
    .heading h1{
    
        font-size: 2em;
        font-weight: 300;
        color: #ffd900;
        text-align: center;
        margin-bottom: 50px;
    }
    
    .main{
        display: flex;
        justify-content: space-evenly;
        
    }
    
    
    .big-text{
        
        font-family: 'Open Sans', sans-serif;
        line-height: 1.8em;
        text-align: center;
        visibility: visible;
        font-size: 64px;
        color: #09b9e5;
        font-weight: 700;
        box-sizing: border-box;
    }
      
    .submain{
        border: 1px solid #FFD400;
        background-color: #3a1a66;
        width: 20%;
        color: #fffff6;
        border-radius: 11px;
        
    }
    .submain li{
    
        list-style: none;
        text-align: center;
        font-size: 16px;
        margin: 0px,0px,0px,0px;
        padding: 15px 0 15px 0;
    
    }
    
    h6{
        text-align: center;
    }
    
    .price{
        text-align: center;
    }
    
    .button{
        text-align: center;
        align-items: center;
    }
    
    .btn{
        background-color: red;
        color: white;
        border: 2px solid black;
        border-radius: 12px;
        padding: 6px 8px;
        margin: 10px 0;
    
    
    }
    marquee{
        background-color: #ffd900;
        font-size: 21px;
        height: 21px;
        margin: 20px 0;
        margin-bottom: -2px;
      
    }
    
   /*3rd page last*/ 
    
    
    

@media only screen and (max-width:910px) {
    
    .navlist{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        justify-content: center;
        height: 250px;
        transition: 0.7s ;
    }

    .h-nav-resp{
        height: 50px;
    }
    .v-nav-resp{
        opacity: 0;
    }
    .rightnav{
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }
    .burger{
        display: block;
    }
    .logo {
        width: 100%;
        padding: 8px 0px;
        justify-content: center;
    }
   
    h6{
        font-size: 1.5em;
    }
    h2{
        font-size: 2.5em;
    }
    .section{
        flex-direction: column-reverse;
        height:500px
    }
    .left{
        flex-direction: column-reverse;
    }
    .contact{
        height: auto;
    }
    .main{
        flex-direction: column;
        align-items: center;
    }
    .submain{
        width: 60%;
        margin: 20px 0px;
    
    }
}
@media only screen and (max-width:550px){
    
    .bgtext{
        font-size: 16px;
    }
    .smtext{
        font-size: 12px;
    }
    .thumbnail image{
        width: 200px;
    }
    h3{
        font-size: 2.5em;
    }

    .form textarea{
        font-size: 13px;
    }

}


    


   

